@model AppUsers

@{
    Layout = "_default";
}

<partial name="_Notification" />

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="card-body">
            <form method="post" asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p class="ml-5">FRMS-V1</p>
                <hr class="my-2">
                <p>Please enter your email</p>
                <hr class="my-2">
                <div class="form-group mt-2">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="text-center mt-3">
                    <input type="submit" class="btn btn-primary" value="Reset Password" />
                </div>
            </form>
        </div>
    </div>
</div>
