@model List<Farms>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

<h1 class="mt-3" style="color: white;">Select the Type of report</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reportModal">Select Type of
    Report</button>

<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Select Report Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reportForm" action="/Farm/GenerateReports" method="post">
                    <div class="form-group">
                        <label for="farmSelect" class="col-form-label">Farm</label>
                        <select class="form-control" id="farmSelect" name="farmId" class="text-dark">
                            <option value="">-- Select Farm --</option>
                            @foreach (var farm in Model)
                            {
                                <option value="@farm.Id" class="text-dark">@farm.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reportTypeSelect" class="col-form-label">Report Type</label>
                        <select class="form-control" id="reportTypeSelect" name="reportTypeId" class="text-dark">
                            <option value="">-- Select Report Type --</option>
                            <option value="1" class="text-dark">Inventory Items</option>
                            <option value="2" class="text-dark">All Crops Planted</option>
                            <option value="3" class="text-dark">All Tasks</option>
                            <option value="4" class="text-dark">All Expenses (General)</option>
                            <option value="5" class="text-dark">All Expenses - Each Partition</option>
                            <option value="6" class="text-dark">All Expenses - Per Crop</option>
                            <option value="7" class="text-dark">Revenue Generated - Detailed</option>
                            <option value="8" class="text-dark">Revenue Generated For each Farm (Summary)</option>
                        </select>
                    </div>

                    <div class="form-group" id="partitionSelectDiv" style="display: none;">
                        <label for="partitionSelect" class="col-form-label">Partition</label>
                        <select class="form-control" id="partitionSelect" name="partitionId" class="text-dark">
                            <option value="">-- Select Partition --</option>
                            <!-- Options for partitions will be dynamically loaded here using JavaScript -->
                        </select>
                    </div>

                    <div class="form-group" id="cropSelectDiv" style="display: none;">
                        <label for="cropSelect" class="col-form-label">Crop</label>
                        <select class="form-control" id="cropSelect" name="cropId" class="text-dark">
                            <option value="">-- Select Crops --</option>
                            <!-- Options for crops will be dynamically loaded here using JavaScript -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="startDate" class="col-form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="StartDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-form-label">End Date</label>
                        <input type="date" class="form-control" id="endDate" name="EndDate">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Generate Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Handler for farm select change
            $('#farmSelect').change(function () {
                var farmId = $(this).val();
                $.get('/Farm/CheckFarmPartitions', { farmId: farmId }, function (data) {
                    console.log(data);
                    if (data.hasPartitions) {
                        $('#reportTypeSelect option[value="5"]').show();

                        populatePartitionDropdown(data.partitions);
                    } else {
                        $('#reportTypeSelect option[value="5"]').hide();
                        $('#partitionSelectDiv').hide();
                    }
                });

                $.get('/Farm/GetCrops', { farmId: farmId }, function (data) {
                    $('#reportTypeSelect option[value="6"]').show();

                    populatePartitionCropDropdown(data.crops);
                });
            });

            // Handler for form submission
            $('#reportForm').on('submit', function (event) {
                // You can add additional logic here if needed

                // Clear the form fields after 5 seconds
                // Set a timer to clear the form fields after 5 seconds (5000 milliseconds)
                setTimeout(function () {
                    $(event.currentTarget)[0].reset(); // Clear the form
                }, 5000);
            });

            // Handler for report type select change
            $('#reportTypeSelect').change(function () {
                var selectedReportType = $(this).val();
                if (selectedReportType === "5") { // All Expenses - Each Partition
                    $('#partitionSelectDiv').show();
                } else {
                    $('#partitionSelectDiv').hide();
                }
                if (selectedReportType === "6") { // All Expenses - Each Partition
                    $('#cropSelectDiv').show();
                } else {
                    $('#cropSelectDiv').hide();
                }
            });
        });

        function populatePartitionDropdown(partitions) {
            // Assuming that 'partitions' is an array of partition objects with properties 'id' and 'name'.

            // Clear existing options
            $('#partitionSelect').empty();

            // Add the default "Select Partition" option
            $('#partitionSelect').append('<option value="">-- Select Partition --</option>');

            // Add partition options
            partitions.forEach(function (partition) {
                $('#partitionSelect').append('<option value="' + partition.id + '" class="text-dark">' + partition.name + '</option>');
            });
        }

        function populatePartitionCropDropdown(crops) {
            // Assuming that 'crops' is an array of partition objects with properties 'id' and 'name'.

            // Clear existing options
            $('#cropSelect').empty();

            // Add the default "Select Partition" option
            $('#cropSelect').append('<option value="">-- Select Crop --</option>');

            // Add partition options
            crops.forEach(function (crop) {
                $('#cropSelect').append('<option value="' + crop.id + '" class="text-dark">' + crop.name + '</option>');
            });
        }

    </script>
}